{% extends 'iBus/layouts/app.html' %}

{% block content %}
<div class="row">
    <div class="col-xl-5">
        <div class="card">
            <div class="card-header">
                <h5 class="h3 mb-0">Rutas</h5>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <select class="form-control" id="selectRuta">
                        <option>Seleccione una ruta...</option>
                        {% for ruta in rutas %}
                        <option value="{{ ruta.id }}">{{ ruta.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h5 class="h3 mb-0">Paradas</h5>
            </div>
            <div class="card-body">
                <div class="row">

                    <div class="col-xl-6">
                        <h2 class="text-center">A - B</h2>
                        <ul class="list-group list-group-flush" data-toggle="checklist" id="paradasA-B">

                        </ul>
                    </div>

                    <div class="col-xl-6">
                        <h2 class="text-center">B - A</h2>
                        <ul class="list-group list-group-flush" data-toggle="checklist" id="paradasB-A">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-7">
        <div class="card">
            <div class="card-header">
                <h5 class="h3 mb-0">
                    Horarios
                </h5>
            </div>
            <div class="card-body">
                <div class="row">

                    <div class="col-xl-6">
                        <h2 class="text-center">A - B</h2>
                        <ul class="list-group list-group-flush" data-toggle="checklist" id="horariosA-B">


                        </ul>
                    </div>

                    <div class="col-xl-6">
                        <h2 class="text-center">B - A</h2>
                        <ul class="list-group list-group-flush" data-toggle="checklist" id="horariosB-A">
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col">
        <div class="card border-0">

            <div id="map-default" class="map-canvas" style="height: 1000px"></div>
        </div>
    </div>
</div>


{% endblock %}


{% block script %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvvUs70-PeGPCCNDUN0BtrzNgtHQhdMxQ"></script>
<script>
    $('#selectRuta').on('change', function () {
        updateMap(this.value);
    });

    function updateMap(idRuta) {
        $.ajax({
            type: "POST",
            dataType: "JSON",
            data: {
                'operation': 'getRuta',
                'idRuta': idRuta,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            }, success: function (cntx) {
                console.log(cntx)
                createMapa(cntx.rutas);
                createHorarios(cntx.horarios);
                createParadas(cntx.paradas);

            }
        });

    }
    function createParadas(paradas) {
        $('#paradasA-B').empty();
        $('paradasB-A').empty();
        $.each(paradas, function (i, parada) {
            paradasHTML = `<li class="checklist-entry list-group-item flex-column align-items-start py-4 px-4">
                                <div class="checklist-item checklist-item-success">
                                    <div class="checklist-info">
                                        <h5 class="checklist-title mb-0">`+ parada.nombre + `</h5>
                                    </div>
                                </div>
                            </li>`;
            if (parada.tipo == "A") {
                $('#paradasA-B').append(paradasHTML)
            } else if (parada.tipo == "B") {
                $('#paradasB-A').append(paradasHTML)
            }
        });
    }
    function createHorarios(horarios) {
        $('#horariosA-B').empty();
        $('#horariosB-A').empty();
        $.each(horarios, function (i, horario) {
            horariosHTML = `<li class="checklist-entry list-group-item flex-column align-items-start py-4 px-4">
                                <div class="checklist-item checklist-item-success">
                                    <div class="checklist-info">
                                        <h5 class="checklist-title mb-0">Salida: `+ horario.inicio + `</h5>
                                        <h5 class="checklist-title mb-0">Llegada: `+ horario.fin + `</h5>
                                    </div>
                                </div>
                            </li>`;
            if (horario.tipo == "A") {
                $('#horariosA-B').append(horariosHTML)
            } else if (horario.tipo == "B") {
                $('#horariosB-A').append(horariosHTML)
            }
        });

    }
    function createMapa(rutas) {
        var trazaA = [];
        var trazaB = [];
        var estacionesA = [];
        var estacionesB = [];
        $.each(rutas, function (i, ruta) {
            if (ruta.tipo == "A") {
                $.each(ruta.trazas, function (j, traza) {
                    trazaA.push({
                        lat: parseFloat(traza.latitud),
                        lng: parseFloat(traza.longitud)
                    });
                });

                $.each(ruta.estaciones, function (j, estacion) {
                    estacionesA.push({
                        title: estacion.nombre,
                        lat: parseFloat(estacion.latitud),
                        lng: parseFloat(estacion.longitud)
                    });
                });


            } else if (ruta.tipo == "B") {
                $.each(ruta.trazas, function (j, traza) {
                    trazaB.push({
                        lat: parseFloat(traza.latitud),
                        lng: parseFloat(traza.longitud)
                    });
                });
                $.each(ruta.estaciones, function (j, estacion) {
                    estacionesB.push({
                        title: estacion.nombre,
                        lat: parseFloat(estacion.latitud),
                        lng: parseFloat(estacion.longitud)
                    });
                });
            }
        });
        console.log(trazaB);
        var styledMapType = new google.maps.StyledMapType([
            {
                "featureType": "administrative",
                "elementType": "geometry",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "poi",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "labels.icon",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "transit",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            }
        ]);

        var mapSettings = {
            zoom: 15,
            maxZoom: 18,
            disableDefaultUI: true,
            center: { lat: 20.521809, lng: -100.813973 },
            mapTypeId: google.maps.MapTypeId.roadmap
        };
        var map = new google.maps.Map(document.getElementById("map-default"), mapSettings);
        map.mapTypes.set('styled_map', styledMapType);
        map.setMapTypeId('styled_map');

        /* Genera la ruta */
        var rutaA = new google.maps.Polyline({
            path: trazaA,
            geodesic: true,
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 2
        });
        var rutaB = new google.maps.Polyline({
            path: trazaB,
            geodesic: true,
            strokeColor: '#0000FF',
            strokeOpacity: 1.0,
            strokeWeight: 2
        });
        rutaA.setMap(map);
        rutaB.setMap(map);


        /*Imprime los marcadores de las estaciones */
        $.each(estacionesA, function(i, estacion){
            var marker = new google.maps.Marker({
                position: {
                    lat: estacion.lat,
                    lng: estacion.lng
                },
                map: map,
                title: estacion.nombre,
                icon: '/static/img/rutas/busStop.png'
            });
        });

        $.each(estacionesB, function(i, estacion){
            var marker = new google.maps.Marker({
                position: {
                    lat: estacion.lat,
                    lng: estacion.lng
                },
                map: map,
                title: estacion.nombre,
                icon: '/static/img/rutas/busStop.png'
            });
        });
        
    }



</script>

{% endblock %}