{% extends 'iBus/layouts/app.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %} ">
<link rel="stylesheet" href="{% static 'vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/select2/dist/css/select2.min.css' %}">
{% endblock %}
{% block content %}

<div class="row">

    <div class="col">
        <div class="card">
            <!-- Card header -->
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-8">
                        <!-- Title -->
                        <h5 class="h3 mb-0">Vehículos</h5>
                    </div>
                    <div class="col-4 text-right">
                        <button class="btn btn-lg btn-icon btn-default" type="button" onclick="readUser()">
                            <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
                            <span class="btn-inner--text">Registrar conductor</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="table-responsive py-4">
                <table class="table table-flush" id="tableData">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>ID Usuario</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Tarjeta</th>
                            <th>Numero de Licencia</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>
</div>


<!-- MODALS -->


<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-default">Nuevo conductor</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="form">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="input_modelo">CURP del Usuario</label>
                                <select class="form-control" id="create_CURP" data-toggle="select"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="input_tarjeta">Tarjeta</label>
                                <input type="text" class="form-control" id="create_tarjeta" name="tarjeta"
                                    placeholder="Tarjeta">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="input_matricula">Número de licencia</label>
                                <input type="text" class="form-control" id="create_numeroLicencia" name="numeroLicencia"
                                    placeholder="Número de licencia">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="createItem()">Guardar</button>
                    <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- update -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-default">Actualizar Conductor</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="form">
                <input type="hidden" id="update_id">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="update_CURP">CURP del Usario</label>
                                <input type="text" class="form-control" id="update_CURP" name="CURP" placeholder="CURP"
                                    disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="update_marca">Tarjeta</label>
                                <input type="text" class="form-control" id="update_tarjeta" name="tarjeta"
                                    placeholder="Trajeta">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="update_matricula">Numero de Licencia</label>
                                <input type="text" class="form-control" id="update_numeroLicencia" name="matricula"
                                    placeholder="Matrícula">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="updateItem()">Actualizar</button>
                    <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}


{% block script %}
<script src="{% static 'vendor/datatables.net/js/jquery.dataTables.min.js' %} "></script>
<script src="{% static 'vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %} "></script>
<script src="{% static 'vendor/datatables.net-buttons/js/dataTables.buttons.min.js' %} "></script>
<script src="{% static 'vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %} "></script>
<script src="{% static 'vendor/datatables.net-buttons/js/buttons.html5.min.js' %} "></script>
<script src="{% static 'vendor/datatables.net-buttons/js/buttons.flash.min.js' %} "></script>
<script src="{% static 'vendor/datatables.net-buttons/js/buttons.print.min.js' %} "></script>
<script src="{% static 'vendor/datatables.net-select/js/dataTables.select.min.js' %} "></script>
<script src="{% static 'vendor/select2/dist/js/select2.min.js' %}"></script>
<script>
    $(document).ready(function () {

        $('#tableData').DataTable({
            'ajax': {
                "type": "POST",
                "dataType": 'json',
                "data": function (d) {
                    d.operation = 'read';
                    d.csrfmiddlewaretoken = '{{ csrf_token }}';
                },
                "dataSrc": function (json) {
                    $.each(json.conductores, function (i, conductor) {
                        conductor["acciones"] = `<button type="button" class="btn btn-warning btn-icon-only" onclick="selectItem('` + conductor.id + `')"><span class="btn-inner--icon"><i class="fas fa-edit"></i></span></button>
                    <button type="button" class="btn btn-danger btn-icon-only" onclick="deleteItem('`+ conductor.id + `')"><span class="btn-inner--icon"><i class="fas fa-trash"></i></span></button>`
                    });
                    return json.conductores
                }
            },
            "columns": [
                { "data": "id" },
                { "data": "idUsuario" },
                { "data": "nombre" },
                { "data": "apellidoPaterno" },
                { "data": "tarjeta" },
                { "data": "numeroLicencia" },
                { "data": "acciones" }
            ]
        });
    });

    function readUser() {
        $.ajax({
            type: "POST",
            dataType: 'json',
            data: {
                'operation': 'readUser',
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            }, success: function (cntx) {
                var users = "";
                $.each(cntx.users, function (i, user) {
                    users += `<option value="` + user.id + `">` + user.CURP + `</option>`
                });
                $("#create_CURP").html(users);
                $('#createModal').modal('show');
            }, error: function () {
                Swal.fire(
                    'Error!',
                    'Error al completar la solicitud',
                    'error'
                );
            }
        });
    }
    function createItem() {
        $.ajax({
            type: "POST",
            dataType: 'json',
            data: {
                'operation': 'create',
                'idUsuario': $("#create_CURP").val(),
                'tarjeta': $("#create_tarjeta").val(),
                'numeroLicencia': $("#create_numeroLicencia").val(),
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            }, success: function (cntx) {
                if (cntx.status == "200") {
                    $('#createModal').modal('hide');
                    $("#form")[0].reset();
                    $('#tableData').DataTable().ajax.reload();
                    Swal.fire(
                        'Correcto',
                        'Se ha guardado el nuevo conductor',
                        'success'
                    )

                } else if (cntx.status == "500") {
                    Swal.fire(
                        'Error!',
                        'Verifique que los campos sean correctos',
                        'error'
                    )
                }
            }, error: function () {
                Swal.fire(
                    'Error!',
                    'Error al completar la solicitud',
                    'error'
                );
            }
        });
    }
    function selectItem(id) {
        $.ajax({
            type: "POST",
            dataType: 'json',
            data: {
                'operation': 'select',
                'id': id,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            }, success: function (cntx) {
                $("#update_id").val(cntx.id);
                $("#update_tarjeta").val(cntx.tarjeta);
                $("#update_numeroLicencia").val(cntx.numeroLicencia);
                $("#update_CURP").val(cntx.CURP);
                $('#updateModal').modal('show')
            }, error: function () {
                Swal.fire(
                    'Error!',
                    'Error al completar la solicitud',
                    'error'
                );
            }
        }
        );
    }
    function updateItem() {
        $.ajax({
            type: "POST",
            dataType: 'json',
            data: {
                'operation': 'update',
                'id': $("#update_id").val(),
                'tarjeta': $("#update_tarjeta").val(),
                'numeroLicencia': $("#update_numeroLicencia").val(),
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            }, success: function (cntx) {
                if (cntx.status == "200") {
                    $('#updateModal').modal('hide');
                    $('#tableData').DataTable().ajax.reload();
                    Swal.fire(
                        'Correcto',
                        'Se ha actualizado el vehículo',
                        'success'
                    )
                } else if (cntx.status == "500") {
                    Swal.fire(
                        'Error!',
                        'Ocurrio un error, intentelo nuevamente',
                        'error'
                    )
                }
            }, error: function () {
                Swal.fire(
                    'Error!',
                    'Error al completar la solicitud',
                    'error'
                );
            }
        }
        );
    }
    function deleteItem(id) {
        Swal.fire({
            title: '¿Estas seguro?',
            text: "Esta acción no podra ser reversible",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Eliminar'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    dataType: 'json',
                    data: {
                        'operation': 'delete',
                        'id': id,
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    }, success: function (cntx) {
                        if (cntx.status == "200") {
                            $('#tableData').DataTable().ajax.reload();
                            Swal.fire(
                                'Correcto',
                                'Se ha eliminado el vehículo',
                                'success'
                            )
                        } else if (cntx.status == "500") {
                            Swal.fire(
                                'Error!',
                                'Ocurrio un error, intentelo nuevamente',
                                'error'
                            )
                        }

                    }, error: function () {
                        Swal.fire(
                            'Error!',
                            'Error al completar la solicitud',
                            'error'
                        );
                    }
                });



            }
        })

    }



</script>


{% endblock %}