{% extends 'iBus/layouts/app.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %} ">
<link rel="stylesheet" href="{% static 'vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css' %}">

{% endblock %}
{% block content %}

<div class="row">

    <div class="col">
        <div class="card">
            <!-- Card header -->
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-8">
                        <!-- Title -->
                        <h5 class="h3 mb-0">Rutas</h5>
                    </div>
                    <div class="col-4 text-right">
                        <button class="btn btn-lg btn-icon btn-default" type="button" data-toggle="modal"
                            data-target="#createModal">
                            <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
                            <span class="btn-inner--text">Nueva ruta</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="table-responsive py-4">
                <table class="table table-flush" id="dataTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Trazas</th>
                            <th>Estaciones</th>
                            <th>Acciones</th>

                        </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>
</div>


<!-- MODALS -->


<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-default">Nueva ruta</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="form">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="create_aNombre">Nombre</label>
                                <input type="text" class="form-control" id="create_aNombre" name="create_aNombre"
                                    placeholder="Nombre">
                            </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="create_aDescripcion">Descripción</label>
                                <textarea class="form-control" id="create_aDescripcion" name="create_aDescripcion"
                                    rows="3" resize="none" placeholder="Descrpción"></textarea>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="createItem()">Guardar</button>
                    <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- update -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-default">Actualizar ruta</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="form">
                <input type="hidden" id="update_id">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="update_aNombre">Nombre</label>
                                <input type="text" class="form-control" id="update_aNombre" name="update_aNombre"
                                    placeholder="Nombre">
                            </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="update_aDescripcion">Descripción</label>
                                <textarea class="form-control" id="update_aDescripcion" name="update_aDescripcion"
                                    rows="3" resize="none" placeholder="Descripción"></textarea>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="updateItem()">Actualizar</button>
                    <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="updateTrazaModal" tabindex="-1" role="dialog" aria-labelledby="modal-default"
    aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-default">Actualizar trazas</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <div class="float-right">
                            <button class="btn btn-icon btn-info" type="button">
                                <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
                                <span class="btn-inner--text">Añadir nodo</span>
                            </button>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="updateTrazaMap" style="height: 500px;"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="updateTraza_GrupoRutaID">
                <input type="hidden" id="updateTraza_aLatitud">
                <input type="hidden" id="updateTraza_aLongitud">
                <button type="button" class="btn btn-success" onclick="updateTraza()">Actualizar</button>
                <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateEstacionModal" tabindex="-1" role="dialog" aria-labelledby="modal-default"
    aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-default">Estaciones</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <input type="hidden" id="input_id_update">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="update()">Actualizar</button>
                <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block script %}
<script src="{% static 'vendor/datatables.net/js/jquery.dataTables.min.js' %} "></script>
<script src="{% static 'vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %} "></script>
<script src="{% static 'vendor/datatables.net-buttons/js/dataTables.buttons.min.js' %} "></script>
<script src="{% static 'vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %} "></script>
<script src="{% static 'vendor/datatables.net-buttons/js/buttons.html5.min.js' %} "></script>
<script src="{% static 'vendor/datatables.net-buttons/js/buttons.flash.min.js' %} "></script>
<script src="{% static 'vendor/datatables.net-buttons/js/buttons.print.min.js' %} "></script>
<script src="{% static 'vendor/datatables.net-select/js/dataTables.select.min.js' %} "></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvvUs70-PeGPCCNDUN0BtrzNgtHQhdMxQ"></script>

<script>

    $(document).ready(function () {
        $('#dataTable').DataTable({
            'ajax': {
                "type": "POST",
                "dataType": 'json',
                "data": function (d) {
                    d.operation = 'read';
                    d.csrfmiddlewaretoken = '{{ csrf_token }}';
                },
                "dataSrc": function (json) {
                    $.each(json.rutas, function (i, ruta) {
                        ruta["trazas"] = ` <button type="button" class="btn btn-success btn-icon-only" onclick="selectTraza('` + ruta.id + `', 'A')"><span class="btn-inner--icon">A</span></button>
                        <button type="button" class="btn btn-success btn-icon-only" onclick="selectTraza('` + ruta.id + `', 'B')"><span class="btn-inner--icon">B</span></button>`;

                        ruta["estaciones"] = ` <button type="button" class="btn btn-success btn-icon-only" onclick="selectEstacion('` + ruta.id + `', 'A')"><span class="btn-inner--icon">A</span></button>
                        <button type="button" class="btn btn-success btn-icon-only" onclick="selectEstacion('` + ruta.id + `', 'B')"><span class="btn-inner--icon">B</span></button>`;

                        ruta["acciones"] = `
                        <button type="button" class="btn btn-warning btn-icon-only" onclick="selectItem('` + ruta.id + `')"><span class="btn-inner--icon"><i class="fas fa-edit"></i></span></button>
                    <button type="button" class="btn btn-danger btn-icon-only" onclick="deleteItem('`+ ruta.id + `')"><span class="btn-inner--icon"><i class="fas fa-trash"></i></span></button>`
                    });
                    return json.rutas
                }
            },
            "columns": [
                { "data": "id" },
                { "data": "aNombre" },
                { "data": "aDescripcion" },
                { "data": "trazas" },
                { "data": "estaciones" },
                { "data": "acciones" },
            ],
            language: {
                paginate: {
                    previous: "<i class='fas fa-angle-left'>",
                    next: "<i class='fas fa-angle-right'>"
                }
            }
        });
    });
    function createItem() {
        $.ajax({
            type: "POST",
            dataType: 'json',
            data: {
                'operation': 'create',
                'aNombre': $("#create_aNombre").val(),
                'aDescripcion': $("#create_aDescripcion").val(),
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            }, success: function (cntx) {
                if (cntx.status == "200") {
                    $('#createModal').modal('hide');
                    $("#form")[0].reset();
                    $('#dataTable').DataTable().ajax.reload();
                    Swal.fire(
                        'Correcto',
                        'Se ha guardado la ruta',
                        'success'
                    )

                } else if (cntx.status == "500") {
                    Swal.fire(
                        'Error!',
                        'Verifique que los campos sean correctos',
                        'error'
                    )
                }
            }, error: function () {
                Swal.fire(
                    'Error!',
                    'Error al completar la solicitud',
                    'error'
                );
            }
        });
    }


    function selectItem(id) {
        $.ajax({
            type: "POST",
            dataType: 'json',
            data: {
                'operation': 'select',
                'id': id,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            }, success: function (cntx) {
                $("#update_id").val(cntx.id);
                $("#update_aNombre").val(cntx.aNombre);
                $("#update_aDescripcion").val(cntx.aDescripcion);
                $('#updateModal').modal('show')
            }, error: function () {
                Swal.fire(
                    'Error!',
                    'Error al completar la solicitud',
                    'error'
                );
            }
        }
        );
    }
    function updateItem() {
        $.ajax({
            type: "POST",
            dataType: 'json',
            data: {
                'operation': 'update',
                'id': $("#update_id").val(),
                'aNombre': $("#update_aNombre").val(),
                'aDescripcion': $("#update_aDescripcion").val(),
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            }, success: function (cntx) {
                if (cntx.status == "200") {
                    $('#updateModal').modal('hide');
                    $('#dataTable').DataTable().ajax.reload();
                    Swal.fire(
                        'Correcto',
                        'Se ha actualizado la estación',
                        'success'
                    )

                } else if (cntx.status == "500") {
                    Swal.fire(
                        'Error!',
                        'Ocurrio un error, intentelo nuevamente',
                        'error'
                    )
                }
            }, error: function () {
                Swal.fire(
                    'Error!',
                    'Error al completar la solicitud',
                    'error'
                );
            }
        }
        );
    }
    function deleteItem(id) {
        Swal.fire({
            title: '¿Estas seguro?',
            text: "Esta acción no podra ser reversible",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Eliminar'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    dataType: 'json',
                    data: {
                        'operation': 'delete',
                        'id': id,
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    }, success: function (cntx) {
                        if (cntx.status == "200") {
                            $('#dataTable').DataTable().ajax.reload();
                            Swal.fire(
                                'Correcto',
                                'Se ha eliminado la estación',
                                'success'
                            )
                        } else if (cntx.status == "500") {
                            Swal.fire(
                                'Error!',
                                'Ocurrio un error, intentelo nuevamente',
                                'error'
                            )
                        }

                    }, error: function () {
                        Swal.fire(
                            'Error!',
                            'Error al completar la solicitud',
                            'error'
                        );
                    }
                });



            }
        })

    }

    function selectTraza(id, aTipo) {
        $.ajax({
            type: "POST",
            dataType: 'json',
            data: {
                'operation': 'selectTraza',
                'id': id,
                'aTipo': aTipo,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            }, success: function (cntx) {
                $('#updateTrazaModal').modal('show');
                $("#updateTraza_GrupoRutaID").val(cntx.GrupoRutaID);
                var mapSettings = {
                    zoom: 15,
                    maxZoom: 22,
                    disableDefaultUI: true,
                    center: { lat: 20.521809, lng: -100.813973 },
                    mapTypeId: 'satellite'
                };
                var map = new google.maps.Map(document.getElementById("updateTrazaMap"), mapSettings);
                var trazas = [];
                $.each(cntx.trazas, function (j, traza) {
                    trazas.push({
                        lat: parseFloat(traza.aLatitud),
                        lng: parseFloat(traza.aLongitud)
                    });
                });
                var ruta = new google.maps.Polyline({
                    path: trazas,
                    geodesic: true,
                    strokeColor: '#FF0000',
                    strokeOpacity: 1.0,
                    strokeWeight: 2
                });
                ruta.setMap(map);
                var marker;
                google.maps.event.addListener(map, 'click', function (event) {
                    if (marker != null) {
                        marker.setMap(null);
                    }
                    marker = new google.maps.Marker({
                        position: event.latLng,
                        map: map
                    });
                    lat = event.latLng.lat();
                    lng = event.latLng.lng();
                    $("#updateTraza_aLatitud").val(lat.toFixed(6));
                    $("#updateTraza_aLongitud").val(lng.toFixed(6));
                });
            }, error: function () {
                Swal.fire(
                    'Error!',
                    'Error al completar la solicitud',
                    'error'
                );
            }
        }
        );
    }
    function updateTraza() {
        $.ajax({
            type: "POST",
            dataType: 'json',
            data: {
                'operation': 'updateTraza',
                'GrupoRutaID': $("#updateTraza_GrupoRutaID").val(),
                'aLatitud': $("#updateTraza_aLatitud").val(),
                'aLongitud': $("#updateTraza_aLongitud").val(),
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            }, success: function (cntx) {
                if (cntx.status == "200") {
                    Swal.fire(
                        'Correcto',
                        'Se ha actualizado la traza',
                        'success'
                    )

                } else if (cntx.status == "500") {
                    Swal.fire(
                        'Error!',
                        'Ocurrio un error, intentelo nuevamente',
                        'error'
                    )
                }
            }, error: function () {
                Swal.fire(
                    'Error!',
                    'Error al completar la solicitud',
                    'error'
                );
            }
        }
        );
    }
    function selectEstacion(id, atipo) {
        $.ajax({
            type: "POST",
            dataType: 'json',
            data: {
                'operation': 'selectEstacion',
                'id': id,
                'aTipo': atipo,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            }, success: function (cntx) {
                $('#updateEstacionModal').modal('show');
                console.log(cntx);

            }, error: function () {
                Swal.fire(
                    'Error!',
                    'Error al completar la solicitud',
                    'error'
                );
            }
        }
        );
    }

</script>


{% endblock %}