{% extends 'iBus/layouts/app.html' %}
{% load static %}
{% block titulo %} Configuración - Vehiculos {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %} ">
<link rel="stylesheet" href="{% static 'vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css' %}">

{% endblock %}
{% block content %}

<div class="row">

    <div class="col">
        <div class="card">
            <!-- Card header -->
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-8">
                        <!-- Title -->
                        <h5 class="h3 mb-0">Vehículos</h5>
                    </div>
                    <div class="col-4 text-right">
                        <button class="btn btn-lg btn-icon btn-default" type="button" data-toggle="modal"
                            data-target="#createModal">
                            <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
                            <span class="btn-inner--text">Nuevo vehículo</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="table-responsive py-4">
                <table class="table table-flush" id="dataTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Modelo</th>
                            <th>Marca</th>
                            <th>Matricula</th>
                            <th>Numero Economico</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>
</div>


<!-- MODALS -->


<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-default">Nuevo vehículo</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="form">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="create_aModelo">Modelo</label>
                                <input type="text" class="form-control" id="create_aModelo" name="create_aModelo"
                                    placeholder="Modelo">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="create_aMarca">Marca</label>
                                <input type="text" class="form-control" id="create_aMarca" name="create_aMarca"
                                    placeholder="Marca">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="create_aMatricula">Matrícula</label>
                                <input type="text" class="form-control" id="create_aMatricula" name="create_aMatricula"
                                    placeholder="Matrícula">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="create_aNumeroEconomico">Numero Economico</label>
                                <input type="text" class="form-control" id="create_aNumeroEconomico"
                                    name="create_aNumeroEconomico" placeholder="Numero Economico">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="createItem()">Guardar</button>
                    <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- update -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-default">Actualizar Vehículo</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="form">
                <input type="hidden" id="update_id">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="update_aModelo">Modelo</label>
                                <input type="text" class="form-control" id="update_aModelo" name="update_aModelo"
                                    placeholder="Modelo">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="update_aMarca">Marca</label>
                                <input type="text" class="form-control" id="update_aMarca" name="update_aMarca"
                                    placeholder="Marca">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="update_aMatricula">Matrícula</label>
                                <input type="text" class="form-control" id="update_aMatricula" name="update_aMatricula"
                                    placeholder="Matrícula">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="update_aNumeroEconomico">Numero Economico</label>
                                    <input type="text" class="form-control" id="update_aNumeroEconomico" name="update_aNumeroEconomico"
                                        placeholder="Matrícula">
                                </div>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="updateItem()">Actualizar</button>
                    <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}


{% block script %}
<script src="{% static 'vendor/datatables.net/js/jquery.dataTables.min.js' %} "></script>
<script src="{% static 'vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %} "></script>
<script src="{% static 'vendor/datatables.net-buttons/js/dataTables.buttons.min.js' %} "></script>
<script src="{% static 'vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %} "></script>
<script src="{% static 'vendor/datatables.net-buttons/js/buttons.html5.min.js' %} "></script>
<script src="{% static 'vendor/datatables.net-buttons/js/buttons.flash.min.js' %} "></script>
<script src="{% static 'vendor/datatables.net-buttons/js/buttons.print.min.js' %} "></script>
<script src="{% static 'vendor/datatables.net-select/js/dataTables.select.min.js' %} "></script>

<script>
    $(document).ready(function () {
        $('#dataTable').DataTable({
            'ajax': {
                "type": "POST",
                "dataType": 'json',
                "data": function (d) {
                    d.operation = 'read';
                    d.csrfmiddlewaretoken = '{{ csrf_token }}';
                },
                "dataSrc": function (json) {
                    $.each(json.vehiculos, function (i, vehiculo) {
                        vehiculo["acciones"] = `<button type="button" class="btn btn-warning btn-icon-only" onclick="selectItem('` + vehiculo.id + `')"><span class="btn-inner--icon"><i class="fas fa-edit"></i></span></button>
                    <button type="button" class="btn btn-danger btn-icon-only" onclick="deleteItem('`+ vehiculo.id + `')"><span class="btn-inner--icon"><i class="fas fa-trash"></i></span></button>`
                    });
                    return json.vehiculos
                }
            },
            "columns": [
                { "data": "id" },
                { "data": "aModelo" },
                { "data": "aMarca" },
                { "data": "aMatricula" },
                { "data": "aNumeroEconomico" },
                { "data": "acciones" }
            ], language: {
                paginate: {
                    previous: "<i class='fas fa-angle-left'>",
                    next: "<i class='fas fa-angle-right'>"
                }
            }
        });
    });
    function createItem() {
        $.ajax({
            type: "POST",
            dataType: 'json',
            data: {
                'operation': 'create',
                'aModelo': $("#create_aModelo").val(),
                'aMarca': $("#create_aMarca").val(),
                'aMatricula': $("#create_aMatricula").val(),
                'aNumeroEconomico': $("#create_aNumeroEconomico").val(),
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            }, success: function (cntx) {
                if (cntx.status == "200") {
                    $('#createModal').modal('hide');
                    $("#form")[0].reset();
                    $('#dataTable').DataTable().ajax.reload();
                    Swal.fire(
                        'Correcto',
                        'Se ha guardado el vehículo',
                        'success'
                    )

                } else if (cntx.status == "500") {
                    Swal.fire(
                        'Error!',
                        'Verifique que los campos sean correctos',
                        'error'
                    )
                }
            }, error: function () {
                Swal.fire(
                    'Error!',
                    'Error al completar la solicitud',
                    'error'
                );
            }
        });
    }
    function selectItem(id) {
        $.ajax({
            type: "POST",
            dataType: 'json',
            data: {
                'operation': 'select',
                'id': id,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            }, success: function (cntx) {
                $("#update_id").val(cntx.id);
                $("#update_aModelo").val(cntx.aModelo);
                $("#update_aMarca").val(cntx.aMarca);
                $("#update_aMatricula").val(cntx.aMatricula);
                $("#update_aNumeroEconomico").val(cntx.aNumeroEconomico);
                $('#updateModal').modal('show')
            }, error: function () {
                Swal.fire(
                    'Error!',
                    'Error al completar la solicitud',
                    'error'
                );
            }
        }
        );
    }
    function updateItem() {
        $.ajax({
            type: "POST",
            dataType: 'json',
            data: {
                'operation': 'update',
                'id': $("#update_id").val(),
                'aModelo': $("#update_aModelo").val(),
                'aMarca': $("#update_aMarca").val(),
                'aMatricula': $("#update_aMatricula").val(),
                'aNumeroEconomico': $("#update_aNumeroEconomico").val(),
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            }, success: function (cntx) {
                if (cntx.status == "200") {
                    $('#updateModal').modal('hide');
                    $('#dataTable').DataTable().ajax.reload();
                    Swal.fire(
                        'Correcto',
                        'Se ha actualizado el vehículo',
                        'success'
                    )
                } else if (cntx.status == "500") {
                    Swal.fire(
                        'Error!',
                        'Ocurrio un error, intentelo nuevamente',
                        'error'
                    )
                }
            }, error: function () {
                Swal.fire(
                    'Error!',
                    'Error al completar la solicitud',
                    'error'
                );
            }
        }
        );
    }
    function deleteItem(id) {
        Swal.fire({
            title: '¿Estas seguro?',
            text: "Esta acción no podra ser reversible",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Eliminar'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    dataType: 'json',
                    data: {
                        'operation': 'delete',
                        'id': id,
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    }, success: function (cntx) {
                        if (cntx.status == "200") {
                            $('#dataTable').DataTable().ajax.reload();
                            Swal.fire(
                                'Correcto',
                                'Se ha eliminado el vehículo',
                                'success'
                            )
                        } else if (cntx.status == "500") {
                            Swal.fire(
                                'Error!',
                                'Ocurrio un error, intentelo nuevamente',
                                'error'
                            )
                        }

                    }, error: function () {
                        Swal.fire(
                            'Error!',
                            'Error al completar la solicitud',
                            'error'
                        );
                    }
                });



            }
        })

    }



</script>


{% endblock %}